* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.boxed {
  /* width: 10rem;
  height: 10rem; */
  display: inline-block;
  /* background: #000; */
  margin: 5rem;
  /* border-left: 1rem solid red;
  border-right: 1rem solid blue;
  border-top: 1rem solid orange;
  border-bottom: 1rem solid purple; */
  /* tam giac left  */
  border-top: 10rem solid transparent;
  border-bottom: 10rem solid transparent;
  border-left: 10rem solid orange;
  /*tam giac phai  */
  border-top: 10rem solid transparent;
  border-bottom: 10rem solid transparent;
  border-right: 10rem solid orange;
  /* tam giac nguoc */
  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  border-top: 10rem solid red;
  /* tam giac dung */
  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  border-bottom: 10rem solid red;
}
